<head>
	<meta charset="UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title></title>
	
	<!-- build:CSS -->
	<link rel="stylesheet" href="assets/css/master.css">
	<link rel="stylesheet" href="assets/css/liveguide.css">
	<!-- endbuild -->
	
	<!-- build:JS -->
	<script src="assets/js/libs/jquery/dist/jquery.min.js"></script>
	<script src="assets/js/libs/picturefill/dist/picturefill.js"></script>
	<script src="assets/js/master.js"></script>
	<!--endbuild-->
</head>
