<h2 class="accordion-header">Base Styles</h2>

<div class="accordion-content">
	<!-- Text -->
	<h3>Text</h3>
	<h1>Header One</h1>
	<p>This is paragraph text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Inline link</a> irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	<h2>Header Two</h2>
	<p>Excepteur sint occaecat cupidatat non proident, qui officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntutr magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
	<p>Another paragraph to see paragraph spacing. Excepteur sint occaecat cupidatat non proident.</p>
	<h3>Header Three</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus nisi, alias error, quia cumque reiciendis eius, facere itaque dolores reprehenderit ut? Ullam, modi quasi debitis rem blanditiis, unde animi.</p>
	<h4>Header Four </h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus nisi, alias error, quia cumque reiciendis eius, facere itaque dolores reprehenderit ut? Ullam, modi quasi debitis rem blanditiis, unde animi.</p>
	<h5>Header Five</h5>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus nisi, alias error, quia cumque reiciendis eius, facere itaque dolores reprehenderit ut? Ullam, modi quasi debitis rem blanditiis, unde animi.</p>
	<h6>Header Six</h6>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus nisi, alias error, quia cumque reiciendis eius, facere itaque dolores reprehenderit ut? Ullam, modi quasi debitis rem blanditiis, unde animi.</p>

	<!-- Lists -->
	<h3>Unordered list</h3>
	<ul>
		<li>Fact or bullet number 1. Adding more text so we can see it wrap. Just makin' sure the styles are correct.</li>
		<li>Fact or bullet number 2</li>
		<li>Fact or bullet number 3</li>
	</ul>

	<h3>Ordered list</h3>
	<ol>
		<li>Fact or bullet number 1. Adding more text so we can see it wrap. Just makin' sure the styles are correct.</li>
		<li>Fact or bullet number 2</li>
		<li>Fact or bullet number 3</li>
	</ol>

	<h3>Definition List</h3>
	<dl>
		<dt>Term 1</dt>
		<dd>This is the definition of term 1.</dd>

		<dt>Term 2</dt>
		<dd>This is the definition of term 2.</dd>
	</dl>

	<!-- Inline Elements -->
	<h3>Inline Elements</h3>
	<p>The <strong>Strong element</strong> represents text with strong importance.</p>
	<p><em>Emphasized text</em> is used to indicate emphasis.</p>
	<p><b>Bold text</b> is stylistically different from normal text, without any conveying any special importance or relevance.</p>
	<p><i>Italisized text</i> is offset from it's surrounding content without conveying any extra emphasis or importance.</p>
	<p><u>Underlined text</u> is text with an unarticulated, though explicitly rendered, non-textual annotation.</p>
	<p><del>This text is deleted</del>, and <ins>this text is inserted.</ins></p>
	<p>This is <s>Strikethrough text</s>.</p>
	<p>This is superscript<sup>&copy;</sup> text.</p>
	<p>Subscript text is like this: H<sub>2</sub>O.</p>
	<p>Abbreviation looks like this: <abbr title="HyperText Markup Language">HTML</abbr>.</p>
	<p>Keyboard input: <kbd>Cmd</kbd></p>
	<p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short, inline quotation.</q></p>
	<p><cite>This is a citation</cite>. It defines the title of a work, such as a book, song, moving, or painting.</p>
	<p>The <dfn>dfn element</dfn> represents the defining instance of a term.</p>
	<p>The <mark>mark element</mark> indicates a highlight.</p>
	<p>This is what <code>inline code</code> looks like.</p>
	<p>This is <samp>sample output</samp> from a program or computing system looks like.</p>
	<p>The <var>variable element</var> is used for variables, such as <var>x</var> = <var>y</var>.</p>

	<!-- Links -->
	<h3>Text Links</h3>
	<a href="">Inline text link</a>
	<a href="" disabled>Disabled text link</a>
	<a href="" class="cta">CTA text link</a>
	<a href="" class="button">Button text link</a>

	<!-- Buttons -->
	<h3>Buttons</h3>
	<button>Default Button</button>
	<button disabled>Default Button Disabled</button>
	<button class="secondary">Secondary Button</button>
	<button class="secondary" disabled>Secondary Button Disabled</button>
	<input type="submit" value="Submit" />
	<input type="submit" value="Submit Disabled" disabled />

	<!-- Forms -->
	<h3>Form Elements</h3>
	<form action="">
		<label for="text">Label</label>
		<input type="text" name="input-text" placeholder="text input" />

		<input type="email" name="input-email" placeholder="testing@tester.com" />

		<input type="url" name="input-url" placeholder="http://">

		<input type="password" name="input-password">

		<input type="search" name="input-search" placeholder="search input" results="5">

		<input ID="Test" name="test" type="checkbox"><label for="Test">Click this checkbox</label>
		
		<label for="MinMax">$ <input type="number" placeholder="MIN" min="0" max="99999" step="100"> &mdash; <input type="number" placeholder="MAX" min="0" max="99999" step="100"></label>
		
		<input type="radio" id="radio-1" name="radio" /><label for="radio-1">Radio 1</label>
		<input type="radio" id="radio-2" name="radio" /><label for="radio-2">Radio 2</label>
		
		<input type="text" name="zip" placeholder="City, state, or zip">

		<input type="tel" name="input-tel" placeholder="555-555-5555" />

		<input type="file" name="input-file" id="input-file" />

		<select name="select-input" id="select">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
		</select>
		
		<textarea name="" id="" placeholder="textarea"></textarea>
		
		<input type="button" value="Input Button">
		<input type="submit" value="Submit">
	</form>

	<!-- Misc -->
	<h3>Misc</h3>
	<blockquote>
		Here's a blockquote that cites the author's name t dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. 
		<cite>Author's name</cite>
	</blockquote>

	<time>time</time>
</div>
