<h2 class="accordion-header">Pattern Library</h2>

<div class="accordion-content">
	<h3>Breadcrumbs</h3>

	<h3>Marquee</h3>

	<h3>Product Slider</h3>

	<h3>Filters</h3>

	<h3>Callout</h3>

	<h3>Pagination</h3>

	<h3>Price</h3>

	<h3>Rating</h3>

	<h3>Quantity</h3>

	<h3>Share</h3>

	<h3>Modal</h3>

	<h3>Order Totals</h3>

	<h3>Product Grid</h3>

	<h3>Product Tile</h3>

	<h3>Product Details</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>

	<h3>Component</h3>
	
</div>
