//---------------------------------------------------------------------------------------------
// Susy Settings
//---------------------------------------------------------------------------------------------
$numberOfColumns: 12;
$primaryContainerMaxWidth: 82.75em;

$susy: (
	global-box-sizing: border-box,
	columns: $numberOfColumns,
	gutters: 0,
	math: fluid
);


//---------------------------------------------------------------------------------------------
// "Gutter" Vars
//---------------------------------------------------------------------------------------------
// $small-gutter: 1rem;
// $large-gutter: 1.5rem;


//---------------------------------------------------------------------------------------------
// Clearfix
//---------------------------------------------------------------------------------------------
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
		height: 0;
	}
}


//---------------------------------------------------------------------------------------------
// Box Model
//---------------------------------------------------------------------------------------------
html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&::before, &::after {
		-moz-box-sizing: inherit;
		box-sizing: border-box;
	}
}


//---------------------------------------------------------------------------------------------
// Global
//---------------------------------------------------------------------------------------------
// main {
// 	max-width: $primaryContainerMaxWidth;
// 	margin: 0 auto;
// 	background-color: $body_bkgdColor;
// 	@media screen and (min-width: 48.75rem) and (min-height: px-to-rem(600px)) {//780px && H (if change this, also change it in _header.scss)
// 		margin-top: 6rem;
// 	}
// }


//---------------------------------------------------------------------------------------------
// Template Layouts
//---------------------------------------------------------------------------------------------
