<!doctype html>
<html lang="en-US">
@@include('../components/_head-liveguide.html')
<body>
	@@include('../components/header.html')

	<!--BEGIN PAGE CONTENT-->
	<main role="main">
		<h1>Base Styles, Style Guide, &amp; Pattern Library</h1>
		
		<nav>
			<ul>
				<li><a href="#base-styles">Base Styles</a></li>
				<li><a href="#style-guide">Style Guide</a></li>
				<li><a href="#pattern-lib">Pattern Library</a></li>
			</ul>
		</nav>

		<section id="base-styles">
			@@include('../components/base-styles.html')
		</section>
		
		<section id="style-guide">
			@@include('../components/style-guide.html')
		</section>

		<section id="pattern-lib">
			@@include('../components/pattern-library.html')
		</section>
	</main>
	<!--END PAGE CONTENT-->

	@@include('../components/footer.html')
</body>
</html>
